@using System.Globalization
@using PcoWeb
@model PcoWeb.Controllers.VeranstaltungenController.PlanModel

@{
    var date = ViewHelpers.FormtatedDate(Model.Plan.Dates);
    ViewBag.Title = date.HasValue ? date.Value.ToString("dd. MMMM yyyy", CultureInfo.GetCultureInfo("de-DE")) : string.Empty;
}

@Html.ActionLink(Model.Plan.ServiceTypeName + "-Übersicht", "Index", new { id = Model.Plan.ServiceTypeId })
<div>
    @Html.ActionLink("<<", "Plan", new { id = Model.Plan.PrevPlanId })
    @Html.ActionLink(">>", "Plan", new { id = Model.Plan.NextPlanId })
</div>
<h3>@Model.Plan.PlanTitle @(Model.Plan.Series == null ? string.Empty : "(" + Model.Plan.SeriesTitle + ")") @Html.ActionLink("[LIVE]", "Live", new { id = Model.Plan.Id })</h3>
<a href="https://www.planningcenteronline.com/plans/@Model.Plan.Id" title="In Planning Center Online öffnen">[PCO]@*<img href="://www.planningcenteronline.com/favicon.ico"/>*@</a>

<style type="text/css">
    table td, table th { vertical-align: top; padding: 2px 4px; }
    table th { font-weight: bold;}
    table tr.category { margin-top: 10px; }
    table .category th { background: #aaaaaa;}
    table .position th { background: #dddddd; }

    .status-C { color: green; }
    .status-D { color: red; font-style: italic;}
    .status-U { color: orange; font-style: italic; }
</style>

<table class="dienstplan">
    <colgroup>
        <col width="300"/>
        <col width="auto"/>
        <col width="auto"/>
    </colgroup>
    @foreach (var category in Model.Categories.OrderBy(x => x.sequence))
    {
        <tr class="category"><th colspan="3">@category.name</th></tr>
        foreach (var position in category.positions)
        {
            var people = Model.Plan.PlanPeople.Where(pp => pp.CategoryId == category.id && pp.Position == position.name).ToList();
            
            <tr class="position"><th rowspan="@(people.Count > 1 ? (int?)people.Count : null)">@position.name</th>
                @if (people.Any())
                {
                    var person = people.First();
                
                    <td class="status-@person.Status">@person.PersonName</td><td class="status-@person.Status"><img src="@(person.PersonPhotoThumbnail)"/></td>
                }
                else
                {
                    <td colspan="2"></td>
                }
            </tr>
        
            if (people.Count > 1)
            {
                foreach (var person in people.Skip(1))
                {
                    <tr>
                        <td class="status-@person.Status">@person.PersonName</td>
                        <td class="status-@person.Status"><img src="@person.PersonPhotoThumbnail"/></td>
                    </tr>
                }
            }
        }
    }
</table>